# Message broker
FLOWER_USER=floweruser
FLOWER_PASSWORD=flowerpass

# RabbitMQ URL
# I am using CloudAMPQ so it might be something like
# Get this from the BROKER_URL environment setting of the queue you want to manage.
BROKER_URL=amqp://un:pw@yourqueur.rmq.cloudamqp.com/url
